body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px;
  width: 600px;
  height: 600px;
}

.grid div {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  position: relative;
}

.shooter {
  background-image: url(images/shooter.png);
  background-size: cover;
}

.invader {
  background-image: url(images/invader.png);
  background-size: cover;
}

.boom {
  background-color: red;
  border-radius: 20px;
}

.laser {
  border-left: solid 5px orange;
  position: absolute;
  left: 15px;
}
