/* 
====================
My PlayList 
====================
*/
.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 1px 2px rgb(0 0 255 / 20%);
    transition: all 0.3s linear;
  }
  @media screen and (min-width: 992px) {
    .section-center {
      width: 95vw;
    }
  }

  #playlist::placeholder {
    color: rgba(0, 0, 0, 0.449);
  }

  .playlist-container {
    margin-top: 2rem;
    transition: all 0.3s linear;
    visibility: hidden;
  }
  .show-container {
    visibility: visible;
  }
.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}
.alert-danger {
  color: red;
  background: lightpink;
}
.alert-success {
  color: green;
  background: lightgreen;
}